<div class="container-fluid"><!--container-->
 <div class="row">
    <div class="column">

      <div class="card-deck"> <!--bootstrap cards used to show the region list in the form of cards-->
        
        <div class="card" style="border-style: none; margin-top: 8%;">
          <img class="card-img-top" src="../../assets/images1/Africa.jpg">
          <div class="card-body">
            <button class="btn btn-primary btn-lg" [routerLink]="['/africa']">Explore Africa</button > <!--button to rute to the Africa Region-->
            </div>
        </div>
        
        
        
        <div class="card" style="border-style: none;  margin-top: 8%">
          <img class="card-img-top" src="../../assets/images1/Asia.jpg">
          <div class="card-body">
            
            <button class="btn btn-primary btn-lg" [routerLink]="['/asia']">Explore Asia</button > <!--button to route to the Asia region-->
            </div>
        </div>
      

      
        <div class="card" style="border-style: none;  margin-top: 8%">
          <img class="card-img-top" src="../../assets/images1/Australia.jpg">
          <div class="card-body">
            <button class="btn btn-primary btn-lg" [routerLink]="['/australia']">Explore Australia</button > <!--button to route to the Australia component-->
            </div>
        </div>
     

        
        <div class="card" style="border-style: none; margin-top: 8%">
          <img class="card-img-top" src="../../assets/images1/Europe.jpg">
          <div class="card-body">
            <button class="btn btn-primary btn-lg" [routerLink]="['/Europe']">Explore Europe</button ><!--button to route to the Europe component-->
            </div>
        </div>
      

      
        <div class="card" style="border-style: none;  margin-top: 8%">
          <img class="card-img-top" src="../../assets/images1/Americas.jpg">
          <div class="card-body">
            <button class="btn btn-primary btn-lg" [routerLink]="['/americas']">Explore America</button ><!--button to route to the America component-->
            </div>
        </div>
  

    </div>
  
    </div>
</div>

</div>